@import '../../styles/vars.less';
//@import '../../styles/reset.less';

.button {
  font-family: @font-base;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  outline: 0 none;
  border: 0 none;
}

//theme
.primary {
  color: #fff;
  background: @gradient-blue;
  &:hover {
    background: @gradient-blue_hover;
  }
}


//sizes
.lg {
  height: 60px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;

  &.full {
    width: 100%;
  }
}
