@color-grey: #7F8EA4;//127, 142, 164
@color-grey-light: #acb0b4;
@color-grey-dark: #333c48;
@color-grey-extra-light: #F9F9F9;
@color-white: #FFFFFF;
@color-black: #000000;
@color-blue: #297FB8; //41, 127, 184
@color-blue-pastel: #C6D0FA;
@color-red: #FF2B2A;
@color-red-dark: #bd3021; //189 48 33
@color-purple: #142FA0;
@color-emerald: #16A086;
@color-green-pastel: #7DD320;
@color-green-main: #A9E06C;
@color-green-dark: #94B74F; // 148 183 79
@color-blue-main: #3F64FF;
@color-special-grey: #9b9b9b;
@color-blue-light: #f3f5fe;
@color-green: #e6f7d4;

@color-green-dark: #7ed321;
@color-orange: #F39712; //243, 151, 18


@gradient-blue: linear-gradient(0deg, #297fb8 0%, #1799ef 100%);
@gradient-blue_hover: linear-gradient(0deg, #297FB8 10%, #1799ef 100%);
@color-text: @color-grey-dark;
