@import '../styles/vars.less';

.ta-m {
  display: flex;
  align-items: center;
}

.double-border(@second: fade(@color-grey, 15%), @first: #ffffff) {
  box-shadow: 0px 1px 0px 0px @first;
  border-bottom: 1px solid @second;
}
