@import '../../../styles/vars.less';
@import '../../../styles/reset.less';

.coreWrapper {
  height: 100vh;
  background: @gradient-body;
}

.container {
  //width: 1024px;
  //margin: 0 auto;
  padding-top: 20px;
}
